<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio of Jamie!</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="navbar">
        <a href="/" class="navlinks">Home</a>
        <a href="/projects" class="navlinks">Projects</a>
        <a href="/contacts">Contacts</a>
    </div>
    <h1>Contact Me!</h1>
    <form action="/">
        Name <input type="input" class="standardinputs">
        Email <input type="input" class="standardinputs">
        <p class="centerformheader">Message</p>
        <input type="textarea" class="description">
        <button><input type="submit" value="Send"></button>
    </form>
</body>
</html>