<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Me!</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="/" class="navlinks">Home</a>
        <a href="/projects" class="navlinks">Projects</a>
        <a href="/contacts">Contacts</a>
    </div>
    <h1>About Me</h1>
    <div class="leftside sizing">
        <img src="PortfolioPhoto.jpg" alt="Portfolio Image" class="ProfilePhoto">
        <h3>James Green</h3>
        <p>I like stuff!</p>
    </div>
    <div class="rightside sizing">
        <p>This is a paragraph about me and it will encapsulate the whole right side of this page.</p>
    </div>
    <canvas id="myCanvas"></canvas>
    <script type="text/javascript" src="https://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>