<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects Jamie Made!</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="navbar">
        <a href="/" class="navlinks">Home</a>
        <a href="/projects" class="navlinks">Projects</a>
        <a href="/contacts">Contacts</a>
    </div>
    <h1>Here are some projects of mine!</h1>
    <table class="projectlist">
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
        <tr class="projectscroll">
            <td class="projectimage"><img src="124.jpg" alt="Project Image"></td>
            <td class="projectdescription"><p>Cool thing!</p><p>This is a description</p></td>
        </tr>
    </table>
</body>
</html>