<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey!</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body style="width:970px;height:970px;background-color:sienna;margin:auto;">
    <form action="displaysurvey" method="POST" style="width:888px;height:777px;border:2px solid gold;border-radius:50px;padding:30px;">
        Your Name: <input type="input" name="name">
        Dojo Location: <select name="location">
            <option>Select Location</option>
            <option value="Seattle">Seattle</option>
            <option value="Dallas">Dallas Texas</option>
            <option value="Kansas City">Kansas City</option>
            <option value="Mystical Swamp">Mystical Swamp</option>
        </select>
        Favorite Language: <select name="language">
            <option>Select Language</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="MEAN">MEAN</option>
            <option value="ReactJS">ReactJS</option>
        </select>
        <p>Comment (optional):</p>
        <input type="textarea" name="comments">
        <input type="submit" value="Submit">
    </form>
</body>
</html>