<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Razor Fun Assignment</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body style="margin:auto;width:970px;height:970px;background-color:turquoise;">
    <h1 style="text-align:center;">Here are some delicious foods!</h1>
    <div>
        @{
            var StringList = new List<string>
            {
                "Apple Pie",
                "Burritos",
                "Clams Curry",
                "Donuts",
                "curteously count coconuts continuously",
            };

            foreach(var word in StringList)
            {
                    <p>@word</p>
                @if(word[0].ToString() == "C" || word[0].ToString() == "c")
                {
                    <p style="color:red;">@word</p>
                }
            }
        }
    </div>
</body>
</html>