@using Login_Registration.Models;
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You've Logged In!</title>
</head>
<body style="background:linear-gradient(to top left, blue, lightblue, blue);margin:auto;width:970px;height:970px;">
    <!-- <h2>Welcome @Model.FirstName @Model.LastName</h2> -->
    <a href="/Logout">Logout</a>
    <div style="width:950px;height:950px;border:2px solid orange;">
        <p style="font-style:33px;color:green;vertical-align:center;text-align:center;">SUCCESS!</p>
    </div>
</body>
</html>